<div id="<%= dom_id relationship %>">
  <p>
    <strong>Student:</strong>
    <%= relationship.student_id %>
  </p>

  <p>
    <strong>Guardian:</strong>
    <%= relationship.guardian_id %>
  </p>

</div>
